<div class="flex" fxLayout="row">
        
    <img class="icon" src="../../../assets/add_alert_black_24dp.svg" alt="Remind Me">
    
        <img class="icon" src="../../../assets/palette_black_24dp.svg" alt="Collabarator">
    
        <img class="icon" src="../../../assets/person_add_alt_1_black_24dp.svg" alt="Collabarator">
    
        <img class="icon" src="../../../assets/image_black_24dp.svg" alt="image">
    
    
        <img class="icon" src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="archive">
          
    
        <img class="icon" src="../../../assets/more_vert_black_24dp.svg" alt="more">
           
</div>
