.note{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 225px;
    margin-left: 20px;
}

.icons{
    margin-left: -10px;
    width:20px;
    margin-bottom: 10px;
}
.displayNote{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
